{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checking in process</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
<div align="center" style="border:4px solid red" >
	<h2>กำลังตรวจสอบเพื่อยืนยันตัวตน <br> เพื่อเข้าใช้งาน <br>รอสักครู่</h2> 
</div>  

<script src = {% static "assets/js/checkin_work_login.js" %}> </script>
<script charset="utf-8" src="https://static.line-scdn.net/liff/edge/2/sdk.js"></script>

</body>
</html>


   






  
